{% extends "admin/base.html" %}
{% load static %}
{% load lang_switch %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block usertools %}
    {{ block.super }}
    {% lang_switch_dropdown %}
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "django_lang_switch/css/lang_switch.css" %}">
{% endblock %}
